.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.p {
  padding-top: 0px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.messageForm {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.chat-box {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
  width: 100%;
}

.grid-container {
  justify-content: flex-start;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-container-end {
  justify-content: flex-end;
  padding-left: 10px;
  padding-right: 10px;
}

.clear-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
}
.clear-button span {
  color: white !important;
}

.text-field {
  color: white;
}

.text-field input {
  color: white !important;
}
