body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.switcher-div {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.chat-box {
  width: "100%";
}

#messageForm {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.clear-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
